@import "bact";

.shoppingbox {
  .topbar {
    width: 100%;
    background: #fff;
  }

  .empty {
    .emptycontent {
      padding: 70px 0 65px;
      text-align: center;

      img {
        width: 90px;
        height: 90px;
      }

      p {
        font-size: 16px;
        color: #333;
        line-height: 16px;
        margin-top: 15px;
      }
    }
  }

  .section {
    position: relative;
    margin-bottom: pxTorem(15px);
    background: #fff;
    overflow: hidden;


    .itemconnect {
      width: 100%;
      overflow: hidden;
      padding: pxTorem(16px) 0;

      .itemca {
        display: block;
        width: 100%;
        height: 100%;
        color: #333;

        .contentl {
          width: 40%;
          float: left;
          position: relative;

          .input {
            display: block;
            position: absolute;
            left: 0.6875rem;
            top: 33%;
            width: pxTorem(24px);
            text-align: center;
            overflow: hidden;

            :global(.am-list-item) {
              padding: 0;
            }

          }

          a {
            width: pxTorem(100px);
            height: pxTorem(100px);
            margin-left: pxTorem(43px);
            display: block;

            img {
              width: 100%;
            }
          }
        }

        .content {
          float: right;
          width: 60%;

          .name {
            font-size: 14px;
            padding-right: 10px;
            margin-bottom: 3px;
            word-break: break-all;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            a {
              width: 100%;
              display: block;
              color: #000;
            }
          }

          .sku {
            position: relative;
            background: #f7f7f7;
            padding: 0 15px 0 5px;
            height: 20px;
            line-height: 20px;
            font-size: 10px;
            color: #666;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            border-radius: 2px;
            margin: 10px 0;
            display: inline-block;
          }

          .priceline {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            margin: 5px 6px 0 0;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            font-size: 10px;

            .price {
              font-family: JDZH-Regular;
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              flex: 1;
              line-height: 16px;
              color: #f2270c;
              font-size: 10px;

              em {
                font-size: 16px;
                font-style: normal;
              }
            }

            .count_choose {
              padding: 0 0 13px;
              font-size: 12px;

              .count {
                color: #999;
                height: 31px;
                line-height: 31px;
              }

              .num_wrap_v2 {
                position: relative;
                z-index: 0;
                width: 110px;
                float: right;
                vertical-align: middle;

                .disable {
                  position: relative;
                  max-width: 30px;
                  min-width: 30px;
                  height: 30px;
                  line-height: 30px;
                  background: #f7f7f7;
                  text-align: center;
                  display: block;
                  float: left;

                  .row {
                    border-radius: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -7px;
                    margin-top: -1px;
                    width: 14px;
                    height: 2px;
                    background-color: #ccc;
                  }
                }

                .text_wrap {
                  position: relative;
                  width: 45px;
                  z-index: 0;
                  margin: 0 1px;
                  float: left;

                  .text {
                    height: 30px;
                    width: 100%;
                    color: #333;
                    background: #fff;
                    font-size: 12px;
                    text-align: center;
                    border: none;
                    background: #f7f7f7;
                  }
                }

                .plus {
                  position: relative;
                  max-width: 30px;
                  min-width: 30px;
                  height: 30px;
                  line-height: 30px;
                  background: #f7f7f7;
                  text-align: center;
                  display: block;
                  float: left;

                  .col {
                    border-radius: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -1px;
                    margin-top: -7px;
                    width: 2px;
                    height: 14px;
                    background-color: #999;
                  }

                  .row {
                    border-radius: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -7px;
                    margin-top: -1px;
                    width: 14px;
                    height: 2px;
                    background-color: #999;
                  }
                }
              }
            }

            .numwrap {
              position: relative;
              display: block;
              width: 72px;
              border-radius: 2px;
              overflow: hidden;
              background-color: #f7f7f7;
              font-weight: 400;

            }
          }

          .de {
            padding: 0 11px;
            font-size: 12px;
            float: right;
            width: 47px;
            line-height: 18px;
          }
        }
      }
    }

    .floorbar {
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 50px;
      background: hsla(0, 0%, 100%, .95);
      color: #333;
      font-size: 14px;
      position: fixed;
      z-index: 120;
      bottom: 0;
      overflow: hidden;

      .quanxuan {
        width: 10%;
        height: 100%;
        float: left;

        :global(.am-list-item) {
          padding-left: 10px;
          min-height: 31px;
        }

        input {
          display: block;
        }

        .quanxuantext {
          width: 40px;
          font-size: 10px;
          text-align: center;
          height: 15px;
          color: #999;
          display: block;
        }
      }

      .flr {
        width: 90%;
        float: left;
        height: 100%;

        .tmain {
          font-weight: 700;
          font-size: 16px;
          line-height: 1em;
          height: 1em;
          overflow: hidden;
          width: 64%;
          float: left;
          text-align: right;
          margin-top: 15px;

          .tprice {
            color: #f2270c;
            margin-left: 7px;

          }
        }

        .buy {
          flex-shrink: 0;
          margin-left: 10px;
          font-weight: 700;
          display: block;
          width: 110px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 16px;
          border-radius: 2px;
          //background-color: #f2270c;
          background-color: #d7d7d7;
          color: #fff;
          float: right;
        }
        .goodsbuy{
          flex-shrink: 0;
          margin-left: 10px;
          font-weight: 700;
          display: block;
          width: 110px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 16px;
          border-radius: 2px;
          background-color: #f2270c;
          color: #fff;
          float: right;
        }
      }

    }
  }

  .floor {
    width: 100%;
    overflow: hidden;

    .cnxhTitle {
      position: relative;
      margin: pxTorem(15px) 0;
      text-align: center;
      font-size: pxTorem(12px);
      color: #999;
      border-top: 1px solid #ddd;
      line-height: 0;

      .title {
        z-index: 2;
        position: relative;
        padding: 0 pxTorem(15px);
        background-color: #f7f7f7;
      }
    }
  }
}